@use '../../global' as g;

@keyframes modal-animation {
    from { opacity: 0; }
    to { opacity: 1; }
}

.search-bar {
    width: 100%;
    height: 80px;
    background-color: white;
    border-radius: 5px;
    position: relative;
    margin-top: -40px;
    padding: 0 1rem;
    @include g.justify-between();
    &.search-bar-dark {
        background-color: g.$darkModeCard;
    }
    .filter-container {
        @include g.flex();
        > .filter-input {
            margin-left: 0.5rem;
            border: none;
            font-size: 1rem;
            background-color: transparent;
            color: g.$primaryText;
            &:focus {
                outline: none !important;
            }
            &.desktop-title-filter {
                display: none;
            }
            &.filter-input-dark {
                color: g.$darkModePrimaryText;
            }
        }
    }
    > .filter-btn {
        border: none;
        background-color: transparent;
        > .hidden {
            display: none;
        }
    }
    > .search-btn {
        background-color: g.$purple;
        border: none;
        height: 3rem;
        width: 3rem;
        border-radius: 5px;
        @include g.flex-centre();
        > .search-btn-icon {
            max-height: 20px;
            max-width: 20px;
            filter: brightness(100);
        }
        > .search-btn-text {
            display: none;
        }
    }
    > .overlay {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.4);
        transition: all 0.3s ease;
        z-index: 1;
        display: none !important;
        @include g.flex-centre();
        &.overlay-active {
            display: flex !important;
            animation-name: modal-animation;
            animation-duration: 0.3s;
        }
        > .filter-modal {
            position: absolute;
            left: 50%;
            top: 35%;
            transform: translate(-50%, -35%);
            width: 87%;
            background-color: #FFFFFF;
            border-radius: 5px;
            padding: 2rem 0;
            animation-name: modal-animation;
            animation-duration: 0.3s;
            &.filter-modal-dark {
                background-color: g.$darkModeCard;
            }
            > .modal-location-filter-container {
                padding: 0 1.5rem 1.5rem 1.5rem;
                border-bottom: 1px solid rgba(109, 157, 121, 0.2);
                
            }
            > .modal-contract-filter-container {
                padding: 1.5rem 1.5rem 0 1.5rem;
            }
            > .modal-search-btn {
                background-color: g.$purple;
                color: #FFFFFF;
                font-weight: 700;
                font-size: 1rem;
                width: 87%;
                height: 3rem;
                border-radius: 5px;
                border: none;
                margin: 2rem auto 0 auto;
                @include g.flex-centre();
            }
        }
    }
}
