@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

:root {
  --dark-text: #3B4363;
  --score-text: #2A46C0;
  --header-outline: #606E85;
  --scissors-gradient: linear-gradient(to bottom, #EC9E0E, #ECA922);
  --scissors-shadow: #BC7232;
  --paper-gradient: linear-gradient(to bottom, #4865F4, #5671F5);
  --paper-shadow: #3046B9;
  --rock-gradient: linear-gradient(to bottom, #DC2E4E, #DD405D);
  --rock-shadow: #932736;
  --lizard-gradient: linear-gradient(to bottom, #834FE3, #8C5DE5);
  --lizard-shadow: #5B37A9;
  --spock-gradient: linear-gradient(to bottom, #40B9CE, #52BED1);
  --spock-shadow: #4A8CA8;

  font-family: "Barlow Semi Condensed", Inter, system-ui, sans-serif;
  font-weight: 600;
  color-scheme: light dark;
  color: white;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

button {
  font-family: "Barlow Semi Condensed", Inter, system-ui, sans-serif;
  font-weight: 600;
}

*, ::before, ::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: radial-gradient(circle at top center, #1F3756, #141539);
}
