/* COLOURS */
$bright-blue: hsl(220, 98%, 61%);
$check-background: linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
/* LIGHT THEME */
$very-light-grey: hsl(0, 0%, 98%);
$very-light-greyish-blue: hsl(236, 33%, 92%);
$light-theme-light-greyish-blue: hsl(233, 11%, 84%);
$light-theme-dark-greyish-blue: hsl(236, 9%, 61%);
$light-theme-very-dark-greyish-blue: hsl(235, 19%, 35%);
/* DARK THEME */
$very-dark-blue: hsl(235, 21%, 11%);
$very-dark-desaturated-blue: hsl(235, 24%, 19%);
$dark-theme-light-greyish-blue: hsl(234, 39%, 85%);
$dark-theme-light-greyish-blue-hover: hsl(236, 33%, 92%);
$dark-theme-dark-greyish-blue: hsl(234, 11%, 52%);
$dark-theme-very-dark-greyish-blue-1: hsl(233, 14%, 35%);
$dark-theme-very-dark-greyish-blue-2: hsl(237, 14%, 26%);