@use '../../global' as g;

.job-listings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.9rem 0;
    > .job-listing {
        background-color: white;
        border-radius: 5px;
        margin: 1.3rem 0;
        width: 85vw;
        padding: 1rem 1rem 1.5rem 1rem;
        box-shadow: 0 10px 20px -10px g.$desaturated-dark-cyan;
        > .company-logo {
            margin-top: -2.5rem;
            > img {
                max-width: 3rem;
            }
        }
        > .job-details {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            > .company {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin: 0.5rem 0 0.8rem 0;
                > h2 {
                    color: g.$desaturated-dark-cyan;
                    font-size: 0.85rem;
                    margin-right: 1rem;
                }
                > .new-true, .featured-true {
                    color: white;
                    font-weight: 700;
                    font-size: 0.7rem;
                    padding: 0.4rem 0.5rem 0.2rem 0.5rem;
                    border-radius: 50px;
                }
                > .new-true {
                    background-color: g.$desaturated-dark-cyan;
                    margin-right: 0.5rem;
                }
                > .featured-true {
                    background-color: g.$very-dark-greyish-cyan;
                }
            }
            > h3 {
                color: g.$very-dark-greyish-cyan;
                font-size: 0.95rem;
            }
            > .additional-details {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 1rem 0;
                > p {
                    color: g.$dark-greyish-cyan;
                    font-size: 0.8rem;
                    &:not(:last-child) {
                        margin-right: 0.4rem;
                    }
                }
                .separator {
                    height: 0.2rem;
                    width: 0.2rem;
                    background-color: g.$dark-greyish-cyan;
                    border-radius: 50%;
                    margin-right: 0.4rem;
                }
            }
        }
        > hr {
            border: none;
            border-top: 1px solid g.$dark-greyish-cyan !important;
        }
        > .attributes {
            > .attribute {
                background-color: g.$filter-tablets;
                color: g.$desaturated-dark-cyan;
                font-family: 'Spartan', sans-serif;
                font-weight: 700;
                font-size: 0.8rem;
                border: none;
                border-radius: 5px;
                padding: 0.5rem;
                margin: 1rem 0.9rem 0 0;
            }
        }
    }
    > .cyan-border {
        border-left: 5px solid g.$desaturated-dark-cyan;
    }
}

@media screen and (min-width: 1024px) {
    .job-listing {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 1rem 2rem 1.5rem 2rem !important;
        position: relative;
        > .company-logo {
            display: flex;
            justify-content: center;
            align-items: center;
            > img {
                margin-top: 2.5rem;
                max-width: 6rem !important;
            }
        }
        > .job-details {
            margin-left: 2rem;
        }
        > .attributes {
            position: absolute;
            right: 1rem;
        }
    }
}

@media screen and (min-width: 1200px) {
    .job-listing {
        max-width: 1100px !important;
        h2 {
            font-size: 0.95rem !important;
        }
        h3 {
            font-size: 1.1rem !important;
            transition: color 0.5s;
            &:hover {
                cursor: pointer;
                color: g.$desaturated-dark-cyan !important;
                transition: 0.5s;
            }
        }
        .additional-details {
            > p {
                font-size: 0.85rem !important;
                &:not(:last-child) {
                    margin-right: 0.8rem !important;
                }
            }
            > .separator {
                margin-right: 0.8rem !important;
            }
        }
        .attribute {
            transition: 0.5s;
            &:hover {
                cursor: pointer;
                background-color: g.$desaturated-dark-cyan !important;
                color: white !important;
                transition: 0.5s;
            }
        }
    }
    
}