body {
    background: url("../../assets/technology/background-technology-desktop.jpg") no-repeat;
    background-size: 1440px 900px;
    width: 100%;
    position: relative;
}

main {
    margin-top: 4.7rem;
    margin-left: 10.4rem;
    display: flex;
    flex-direction: column;
    padding-bottom: 11rem;
}

h2 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;
    letter-spacing: 4.72px;
}

h2 span {
    font-weight: 700;
    color: #FFFFFF40;
    margin-right: 0.7rem;
}

.main-body-content {
    margin-top: 8.6rem;
    display: flex;
    align-items: flex-start;
}

.technology-buttons {
    display: flex;
    flex-direction: column;
    margin-right: 4.9rem;
}

.technology-button {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background-color: transparent;
    color: white;
    font-family: 'Bellefair', sans-serif;
    font-weight: lighter;
    font-size: 32px;
    margin-bottom: 2rem;
}

.active-technology {
    background-color: white;
    color: var(--black);
    border: none;
}

.technology-button:hover {
    cursor: pointer;
}

.technology-button:not(.active-technology):hover {
    border: 1px solid white;
}

h3 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2.7px;
    color: var(--light-purple);
}

h1 {
    font-size: 56px;
    margin-top: 0.7rem;
    margin-bottom: 1rem;
}

.body-text {
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    font-weight: lighter;
    line-height: 32px;
    color: var(--light-purple);
    width: 443.5px;
}

.technology-figure {
    position: absolute;
    right: 0px;
    bottom: 96.5px;
}

@media screen and (max-width: 768px) {
    body {
        background: url("../../assets/technology/background-technology-tablet.jpg");
        background-size: 768px 1024px;
    }

    main {
        margin-top: 2rem;
        width: 100vw;
        height: 90vh;
        margin-left: 0;
        padding-bottom: 0;
    }

    h2 {
        margin-left: 2.4rem;
        font-size: 20px;
        letter-spacing: 3.38px;
    }

    .main-content {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 4rem;
    }

    .technology-figure {
        position: relative;
        bottom: 0;
    }

    .technology-img {
        max-height: 300px;
        width: 100%;
    }

    .main-body-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 3rem;
    }

    .technology-buttons {
        flex-direction: row;
        margin-right: 0;
    }

    .technology-button {
        height: 60px;
        width: 60px;
        font-size: 24px;
    }

    .technology-button:not(.technology-button:last-child) {
        margin-right: 1rem;
    }

    .text-content {
        text-align: center;
        margin-top: 1rem;
    }

    h1 {
        font-size: 40px;
        margin-top: 1rem;
        margin-bottom: 1.2rem;
    }

    .body-text {
        font-size: 16px;
        max-width: 438px;
        line-height: 28px;
    }
}