@use '../../global' as g;

.features {
    background-color: #F0F1F7;
    padding: 0 5vw 5rem 5vw;
    @include g.flex-center;
    > h2 {
        font-size: 1.7rem;
        margin-bottom: 1rem;
    }
    p {
        color: g.$greyish-violet;
    }
    > .features-container {
        @include g.flex-center;
        margin-top: 6rem;
        > .feature {
            @include g.flex-center;
            background-color: white;
            border-radius: 5px;
            padding: 0 2rem 2.5rem 2rem;
            > .feature-icon {
                @include g.flex-center;
                background-color: g.$dark-violet;
                height: 5.5rem;
                width: 5.5rem;
                border-radius: 50%;
                margin-top: -2.75rem;
            }
            > h3 {
                margin: 1.8rem 0 1rem 0;
                font-size: 1.3rem;
            }
            > p {
                font-size: 0.95rem;
            }
            &:not(:last-child) {
                margin-bottom: 6rem;
            }
        }
    }
}