@use '../../global' as g;

@keyframes overlay-opacity {
    from {opacity: 0;}
    to {opacity: 1;}
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem 1.5rem 1.5rem;
    > .header-left {
        @include g.flex-center;
        > .hamburger {
            background: url('../../assets/images/icon-menu.svg') no-repeat center;
            background-size: 1rem;
            min-height: 1rem;
            min-width: 1rem;
            border: none;
            margin-right: 1rem;
            z-index: 5;
        }
        > .close-menu {
            background: url('../../assets/images/icon-close.svg') no-repeat center;
        }
        > nav {
            position: fixed;
            inset: 0 35% 0 0;
            background-color: white;
            z-index: 4;
            transform: translateX(-100%);
            transition: transform 500ms ease-in-out;
            > ul {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                padding: 5rem 0 0 1.5rem;
                > li {
                    list-style: none;
                    margin: 0.5rem 0;
                    > .nav-link {
                        text-decoration: none;
                        color: g.$very-dark-blue;
                        font-weight: 700;
                        font-size: 1.2rem
                    }
                }
            }
        }
        > .menu-open {
            transform: translateX(0);
        }
    }
    > .overlay {
        position: absolute;
        z-index: 3;
        background-color: rgba(0, 0, 0, 0.6);
        height: 200vh;
        width: 100vw;
        margin-left: -1rem;
        display: none;
    }
    > .overlay-active {
        display: block;
        animation-name: overlay-opacity;
        animation-duration: 1s;
    }
    > .header-right {
        @include g.flex-center;
        > .cart-icon-container {
            position: relative;
            > .cart-icon {
                background: none;
                border: none;
            }
            > .cart-number {
                position: absolute;
                z-index: 1;
                background-color: g.$orange;
                border-radius: 50px;
                height: 1rem;
                width: 1.3rem;
                font-size: 0.7rem;
                font-weight: 700;
                color: white;
                @include g.flex-center;
                top: -0.5rem;
                right: -0.5rem;
            }
        }
        > .profile {
            background: none;
            border: none;
            border-radius: 50%;
            margin-left: 1rem;
            > .avatar {
                max-width: 1.7rem;
                border-radius: 50%;
            }
        }
    }
}

@media screen and (min-width: 900px) {
    .hamburger {
        display: none;
    }
    nav {
        position: relative !important;
        transform: translateX(0) !important;
        transition: none !important;
        background: none !important;
        margin-left: 1rem;
        > ul {
            flex-direction: row !important;
            align-items: flex-start !important;
            justify-content: flex-start !important;
            padding: 0 !important;
            > li {
                margin: 0 0.7rem !important;
                > .nav-link {
                    color: g.$dark-greyish-blue !important;
                    font-weight: 400 !important;
                }
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    header {
        padding: 2rem 0;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        max-width: 1100px;
        border-bottom: 1px solid g.$greyish-blue;
        nav {
            margin-left: 2rem !important;
        }
        .nav-link {
            font-size: 0.9rem !important;
            padding: 2.75rem 0;
            &:hover {
                color: g.$very-dark-blue !important;
                border-bottom: 3px solid g.$orange;
            }
        }
        .profile {
            margin-left: 2.5rem !important;
            > .avatar {
                max-width: 3rem !important;
            }
        }
        .cart-icon:hover, .profile:hover {
            cursor: pointer;
        }
        .cart-icon:hover > svg > path {
            fill: g.$very-dark-blue;
        }
        .profile:hover .avatar {
            border: 2px solid g.$orange;
        }
    }
}
