@use '../../global' as g;

.score {
    background-color: g.$light-grey;
    @include g.flex-column-center();
    border-radius: 10px;
    min-width: 2.2rem;
    padding: 0.7rem 0;
    > .graphic-btn {
        background-color: transparent;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover > svg > path {
            fill: #5457b6;
            transition: fill 0.5s;
        }
    }
    > .score-number {
        padding: 0.8rem 0;
        color: g.$moderate-blue;
    }
}

@media screen and (max-width: 600px) {
    .score {
        flex-direction: row;
        justify-content: space-between;
        padding: 0.5rem;
        width: 5rem;
        .score-number {
            padding: 0;
        }
    }
}
