main {
    margin-top: -5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 730px;
    margin-bottom: 8rem;
}

@media screen and (max-width: 375px) {
    main {
        width: 90vw;
        margin-top: -3.5rem;
    }
}