body {
    background: url("../../assets/home/background-home-desktop.jpg") no-repeat;
    background-size: 1440px 900px;
    width: 100%;
    position: relative;
}

.website-nav {
    background-color: #FFFFFF04;
    backdrop-filter: blur(30px);
}

main {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 15.69rem;
    padding-bottom: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 77vw;
}

.main-text {
    max-width: 450px;
}

h2 {
    color: var(--light-purple);
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 300;
    font-size: 28px;
    letter-spacing: 4.72px;
}

h1 {
    font-size: 150px;
    padding: 1.4rem 0;
}

p {
    color: var(--light-purple);
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    font-weight: lighter;
    line-height: 32px;
}

.main-button-container {
    position: relative;
    height: 100%;
}

button {
    height: 274px;
    width: 274px;
    border-radius: 50%;
    border: none;
    background-color: white;
    color: var(--black);
    font-family: 'Bellefair', sans-serif;
    font-size: 32px;
    letter-spacing: 2px;
    font-weight: lighter;
}

button:hover {
    cursor: pointer;
    box-shadow: 0 0 0 75px rgba(255, 255, 255, 0.1036);
    transition: box-shadow 0.4s ease-in-out;
}

@media screen and (max-width: 768px) {
    body {
        background: url("../../assets/home/background-home-tablet.jpg") no-repeat;
        background-size: 768px 1024px;
    }

    .website-nav {
        background-color: #FFFFFF08;
        backdrop-filter: blur(1000px);
    }

    main {
        flex-direction: column;
        margin-top: 6rem;
    }

    .main-text {
        text-align: center;
    }

    h2 {
        font-size: 20px;
        letter-spacing: 3.38px;
    }

    h1 {
        padding: 0.5rem;
    }

    p {
        font-size: 16px;
        line-height: 28px;
    }

    button {
        height: 242px;
        width: 242px;
        margin-top: 11rem;
    }
}