.project-main {
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    padding: 2.5rem 3rem;
    margin-bottom: 1.5rem;
    border: 1px solid rgba(117, 117, 117, 0.1);
}

.about {
    margin-bottom: 2rem;
}

.about h3 {
    padding-bottom: 2rem;
}

.about p, .product-main p {
    line-height: 1.8rem;
    font-weight: 400;
}

.products {
    width: 100%;
}

.product {
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    padding: 2rem;
    margin-bottom: 1.5rem;
    border: 1px solid rgba(117, 117, 117, 0.3);
}

.product-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 1.5rem;
}

.pledge {
    color: var(--moderate-cyan);
    font-weight: 500;
    font-size: 0.9rem;
}

.product-footer {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.amount-left {
    display: flex;
}

.amount-left h3 {
    font-size: 2rem;
}

.amount-left p {
    margin-top: 0.7rem;
    padding-left: 0.5rem;
    font-size: 0.9rem;
    font-weight: 500;
}

.product-cta {
    height: 50px;
    width: 160px;
    font-size: 0.9rem;
}

.product-unavailable {
    border: 1px solid rgba(117, 117, 117, 0.15);
}

.product-header-unavailable h3 {
    color: rgba(0, 0, 0, 0.5);
}

.unavailable-pledge {
    color: var(--unavailable-cyan);
}

.product-main-unavailable p, .product-footer-unavailable p{
    color: rgba(117, 117, 117, 0.5);
}

.product-footer-unavailable h3 {
    color: rgba(0, 0, 0, 0.5);
}