.action-selector {
  position: relative;
  background: url(../../assets/images/bg-pentagon.svg) no-repeat center center;
  background-size: 80%;
  height: clamp(315px, 84vw, 475px);
  width: clamp(315px, 84vw, 475px);
}