@use '../../global' as g;

.comment {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin: 0.6rem 0;
    padding: 1.5rem 1rem;
    border-radius: 7px;
    overflow: hidden;
    .comment-main-section {
        @include g.flex-column();
        margin-left: 1rem;
        width: 100%;
        > .comment-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-bottom: 0.7rem;
            .current-user-comment-identifier {
                padding: 0.1rem 0.5rem;
                background-color: g.$moderate-blue;
                color: white;
                font-weight: 500;
                font-size: 0.8rem;
                border-radius: 2px;
                margin: 0 0.7rem 0 -0.5rem;
            }
            .comment-time {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        .flex-start {
            @include g.flex-start();
        }
        .profile-pic {
            max-width: 2rem;
            &:hover {
                cursor: pointer;
            }
        }
        .username {
            font-weight: 500;
            padding: 0 1rem;
            color: g.$dark-blue;
            &:hover {
                cursor: pointer;
            }
        }
        .body-text {
            color: g.$greyish-blue;
        }
        .comment-content {
            line-height: 1.5rem;
        }
        .reply-mention {
            font-weight: 500;
            color: g.$moderate-blue;
            &:hover {
                cursor: pointer;
            }
        }
        .editing-mode {
            width: 100%;
            @include g.flex-column();
            align-items: flex-end;
            textarea {
                margin: 0 0 1rem 0;
                font-weight: 400;
                color: g.$dark-blue;
            }
        }
        .content-container {
            width: 100%;
        }
    }
    .graphic-btn {
        background-color: transparent;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        font-size: 0.9rem;
        &:hover {
            opacity: 0.5;
            transition: opacity 0.5s;
        }
        > .comment-icon {
            margin-right: 0.3rem;
        }
    }
    .purple-btn-text {
        color: g.$moderate-blue;
    }
    .red-btn-text {
        color: g.$soft-red;
    }
    .action-btns-container {
        @include g.flex-start();
        min-width: max-content;
        > .graphic-btn:last-child {
            margin-left: 1.5rem;
        }
    }
    .mobile-action-btns-container {
        display: none;
    }
}

@media screen and (max-width: 950px) {
    .graphic-btn:hover {
        opacity: 1 !important;
    }
}

@media screen and (max-width: 600px) {
    .comment {
        flex-direction: column-reverse !important;
        .comment-main-section {
            margin-left: 0;
            .comment-header .graphic-btn {
                display: none;
            }
        }
        .mobile-comment-footer-container {
            margin-top: 1rem;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .mobile-action-btns-container {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}
