/* COLOURS */
$orange: hsl(26, 100%, 55%);
$orange-hover: hsl(26, 100%, 72%);
$pale-orange: hsl(25, 100%, 94%);
$very-dark-blue: hsl(220, 13%, 13%);
$dark-greyish-blue: hsl(219, 9%, 45%);
$greyish-blue: hsl(220, 14%, 75%);
$light-greyish-blue: hsl(223, 64%, 98%);

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
