@import '../../global';

.footer {
    background-color: $darkblue;
    @include flex-center;
    padding: 2.5rem 0;
    > .logo-socials {
        @include flex-center;
        > .social-icons {
            margin-top: 2rem;
            > .social-link {
                &:not(:last-child) {
                    margin-right: 1rem;
                }
            }
        }
    }

    > .footer-links {
        @include flex-center;
        margin: 1.5rem 0;
        > .footer-links-column {
            @include flex-center;
            > .footer-link {
                text-decoration: none;
                color: white;
                font-size: 0.95rem;
                margin: 0.4rem 0;
            }
        }
    }

    > .footer-end {
        @include flex-center;
        > .cta-footer {
            font-size: 0.9rem;
            width: 9.8rem;
            height: 2.8rem;
            margin-bottom: 1.5rem;
        }
        > .copyright {
            @include body-text;
        }
    }
}

@media screen and (min-width: 768px) {
    .footer {
        flex-direction: row;
        justify-content: space-between;
        padding: 2.5rem 10rem;
        > .logo-socials {
            align-items: flex-start;
            > .social-icons {
                margin-top: 3.5rem;
                > .social-link:hover {
                    > svg > path {
                        fill: $limegreen;
                    }
                }
            }
        }

        > .footer-links {
            flex-direction: row;
            align-items: flex-start;
            margin: 0;
            > .footer-links-column {
                align-items: flex-start;
                margin: 0 5rem;
                > .footer-link:hover {
                    color: $limegreen;
                }
            }
        }

        > .footer-end {
            align-items: flex-end;
        }
    }
}