/* COLOURS */
$desaturated-dark-cyan: hsl(180, 29%, 50%);
$background: hsl(180, 52%, 96%);
$filter-tablets: hsl(180, 31%, 95%);
$dark-greyish-cyan: hsl(180, 8%, 52%);
$very-dark-greyish-cyan: hsl(180, 14%, 20%);