@use '../../global' as g;

.filter {
    width: 85vw;
    background-color: white;
    border-radius: 5px;
    padding: 0 1rem 1rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 10px 20px -10px g.$desaturated-dark-cyan;
    position: relative;
    margin-top: -2rem;
    > .attributes {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        > .filter-attribute {
            background-color: g.$filter-tablets;
            border-radius: 5px 0 0 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: g.$desaturated-dark-cyan;
            font-size: 0.8rem;
            font-weight: 700;
            max-width: max-content;
            margin: 1rem 0.9rem 0 0;
            > p {
                padding: 0.2rem 0.5rem 0 0.5rem;
            }
            > .delete {
                height: 2rem;
                width: 2rem;
                background: g.$desaturated-dark-cyan url('../../assets/icon-remove.svg') no-repeat center;
                border: none;
                border-radius: 0 5px 5px 0;
                > .hidden {
                    display: none;
                }
            }
        }
    }
    
    > .clear {
        margin-top: 1rem;
        background-color: transparent;
        border: none;
        font-family: 'Spartan', sans-serif;
        font-size: 0.8rem;
        font-weight: 700;
        color: g.$dark-greyish-cyan;
    }
}

@media screen and (min-width: 1200px) {
    .filter {
        max-width: 1100px !important;
        padding: 0.5rem 2.5rem 1.5rem 2.5rem;
        margin-top: -2.5rem !important;
        .delete {
            transition: 0.5s;
            &:hover {
                cursor: pointer;
                background: g.$very-dark-greyish-cyan url('../../assets/icon-remove.svg') no-repeat center !important;
                transition: 0.5s;
            }
        }
        .clear {
            margin-top: 1.5rem !important;
            &:hover {
                cursor: pointer;
                color: g.$desaturated-dark-cyan !important;
                text-decoration: underline;
            }
        }
    }
}