@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;600&family=Barlow:wght@300;400&family=Bellefair&display=swap');

:root {
    --black: #0B0D17;
    --light-purple: #D0D6F9;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4 {
    font-family: 'Bellefair', sans-serif;
    font-weight: lighter;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.logo {
    margin-left: 55px;
}

.website-nav {
    display: flex;
    background-color: #FFFFFF10;
    backdrop-filter: blur(1000px);
    padding: 0 6rem;
    padding-right: 8.8rem;
    order: 2;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2.7px;
    margin: 0 1.45rem;
    padding: 2.2rem 0;
}

.nav-link:not(.active-link):hover {
    border-bottom: 3px solid #979797;
}

.active-link {
    border-bottom: 3px solid white;
}

.nav-link span {
    font-weight: 600;
    margin-right: 0.65rem;
}

.mobile-nav-toggle {
    display: none;
}

header::after {
    content: '';
    display: block;
    position: relative;
    height: 1px;
    width: 100%;
    margin-right: -2.5rem;
    margin-left: 3rem;
    background: rgba(255, 255, 255, 0.2515);
    order: 1;
}

@media screen and (max-width: 768px) {
    header {
        margin-top: 0;
        margin-left: 39px;
    }

    header::after {
        display: none;
    }

    .logo {
        margin-left: 0;
    }

    .website-nav {
        padding-right: 0;
        padding: 0rem 1rem;
    }

    .nav-link {
        font-size: 14px;
        margin: 0 1rem;
    }

    .nav-link span {
        display: none;
    }

    .nav-link:not(.active-link):hover {
        border-bottom: none;
    }
}

@media screen and (max-width: 375px) {
    .website-nav {
        display: flex;
        flex-direction: column;
        position: fixed;
        inset: 0 0 0 30%;
        z-index: 1;
        padding: 8rem 0 0 2rem;
        background-color: #FFFFFF04;
        backdrop-filter: blur(40px);
        transform: translateX(100%);
        transition: transform 500ms ease-in-out;
    }

    .website-nav[data-mobile-open="true"] {
        transform: translateX(0);
    }

    .nav-link {
        margin: 0.5rem 0;
        padding: 0.5rem 0;
    }

    .nav-link span {
        display: inline-block;
    }

    .active-link {
        border-bottom: none;
        border-right: 4px solid white;
    }

    .mobile-nav-toggle {
        display: inline-block;
        background: url("./assets/shared/icon-hamburger.svg") no-repeat center;
        height: 21px;
        width: 24px;
        border: none;
    }

    .mobile-nav-open {
        background: url("./assets/shared/icon-close.svg") no-repeat center;
        position: fixed;
        inset: 50px 0 0 85%;
        z-index: 2;
    }

    .hidden {
        display: none;
    }

    .logo-img {
        height: 40px;
        width: 40px;
    }

    header {
        margin-left: 0;
        padding: 2rem 2rem 0 2rem;
        position: relative;
    }
}