@use "./global" as g;

.app-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  h1 {
    color: white;
    font-size: 1.5rem;
  }

  .cta {
    background-color: g.$primary-accent;
    border-radius: 50px;
    color: white;
    padding: 1rem;
    border: none;
    font-weight: 700;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    cursor: pointer;
    &:hover {
      background-color: white;
      color: g.$primary-accent;
    }
  }

  .bubble {
    background-color: g.$bubble-bg;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}