@use "./global" as g;
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
  font-family: "Overpass", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 15px;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*, ::before, ::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Overpass", Inter;
}

body {
  color: g.$text-color;
  background-color: g.$base;
}
