@import '../../global';

.features {
    background-color: $lightgreyishblue;
    text-align: center;
    padding: 3.5rem 0 2rem 0;
    @include flex-center;
    > .wrapper {
        max-width: 90vw;
        @include flex-center;
        > h1 {
            @include heading;
            font-size: 2rem;
        }
        > .features-body {
            @include body-text;
            margin: 0.8rem 0 3rem 0;
        }
        > .features-container {
            @include flex-center;
            > .feature {
                margin-bottom: 2rem;
                > h2 {
                    @include heading;
                    font-size: 1.2rem;
                    margin: 1rem 0;
                }
                > .feature-description {
                    @include body-text;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .features {
        padding: 6.5rem 0;
        > .wrapper {
            text-align: left;
            align-items: flex-start;
            > h1 {
                font-size: 2.5rem;
            }
            > .features-body {
                @include desktop-body-font-size;
                max-width: 45rem;
                margin: 1.5rem 0 5rem 0;
            }
            > .features-container {
                flex-direction: row;
                > .feature {
                    margin: 0 1rem;
                    > h2 {
                        font-size: 1.4rem;
                        margin: 2rem 0 1.5rem 0;
                    }
                    > .feature-description {
                        font-size: 1rem;
                        max-width: 16.5rem;
                    }
                }
            }
        }
    }
}