@use '../../global' as g;

header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1.5rem 1rem 1.5rem;
    > .mobile-menu {
        > .hidden {
            display: none;
        }
        background: url('../../assets/menu-icon.svg') no-repeat center;
        height: 30px;
        width: 30px;
        border: none;
    }
    .mobile-menu-open {
        background: url('../../assets/close-icon.svg') no-repeat center;
    }

    > nav {
        width: 90vw;
        background-color: g.$dark-violet;
        border-radius: 10px;
        padding: 0 1.5rem;
        z-index: 2;
        position: absolute;
        top: 6rem;
        left: 50%;
        transform: translateX(-50%);
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.35s ease-out;
        > ul {
            list-style: none;
            &:first-child {
                border-bottom: 1px solid g.$greyish-violet;
                padding: 1.2rem 0 0.2rem 0;
            }
            &:last-child {
                padding-bottom: 1.2rem;
            }
            > li {
                margin: 1.5rem 0;
                font-size: 1.1rem;
                > .nav-link {
                    color: white;
                    text-decoration: none;
                    font-weight: 700;
                }
                .sign-up {
                    @include g.flex-center;
                    background-color: g.$cyan;
                    height: 3rem;
                    border-radius: 50px;
                }
            }
        }
    }
    .mobile-nav-open {
        max-height: 500px;
        transition: max-height 0.35s ease-in;
    }
}

@media screen and (min-width: 900px) {
    header {
        left: 50%;
        transform: translateX(-50%);
        padding: 3rem 10vw;
        max-width: 1400px;
    }

    .mobile-menu {
        display: none;
    }

    nav {
        position: relative !important;
        width: max-content !important;
        background-color: transparent !important;
        @include g.flex-center;
        flex-direction: row;
        justify-content: space-between !important;
        width: 100% !important;
        max-height: max-content !important;
        left: 0 !important;
        top: 0 !important;
        transform: translateX(0) !important;
        padding: 0 !important;
        border-radius: 0 !important;
        transition: none !important;
        margin-left: 2rem;
        > ul {
            &:first-child {
                border-bottom: none !important;
                padding: 0 !important;
            }
            &:last-child {
                padding: 0 !important;
            }
            display: flex;
            justify-content: center;
            align-items: center;
            > li {
                font-size: 1rem;
                margin: 0 1rem !important;
                > .nav-link {
                    color: g.$greyish-violet !important;
                    &:hover {
                        cursor: pointer;
                        color: g.$very-dark-violet !important;
                        transition: 0.8s;
                    }
                }
                .sign-up {
                    color: white !important;
                    height: 2.5rem !important;
                    width: 7rem;
                    &:hover {
                        color: white !important;
                        background-color: g.$cyan-hover;
                    }
                }
            }
        }
    }
}