@use './global' as g;
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: 'Spartan', sans-serif;
}

header {
  height: 9.8rem;
  width: 100%;
  background: g.$desaturated-dark-cyan url('./assets/bg-header-mobile.svg');
  .hidden {
    display: none;
  }
}

main {
  background-color: g.$background;
  min-height: calc(100vh - 9.8rem);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (min-width: 800px) {
  header {
    background: g.$desaturated-dark-cyan url('./assets/bg-header-desktop.svg');
  }
}