@use '../../global' as g;

.home {
    @include g.flex-column-centre();
    width: 89%;
    margin: 0 auto;
    padding-bottom: 3rem;
    > h1 {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    > .jobs-container {
        padding: 3.5rem 0 2rem 0;
        display: grid;
        grid-template-columns: 1fr;
        gap: 3rem;
        justify-content: center;
        width: 100%;
    }
    > .load-more {
        border: none;
        border-radius: 5px;
        background-color: g.$purple;
        color: white;
        font-weight: 700;
        font-size: 1rem;
        height: 3rem;
        width: 7rem;
        transition: background-color 0.5s ease;
    }
}

@media screen and (min-width: 768px) {
    .home > .jobs-container {
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 4.1rem 0.7rem;
            max-width: none;
            padding: 4rem 0 2rem 0;
    }
}

@media screen and (min-width: 1024px) {
    .home {
        max-width: 1110px;
        > .jobs-container {
            grid-template-columns: repeat(3, 1fr);
        }
        > .load-more:hover {
            cursor: pointer;
            background-color: g.$lightPurple;
        }
    }
}
