@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --intro-email-bg: hsl(217, 28%, 15%);
    --main-bg: hsl(218, 28%, 13%);
    --footer-bg: hsl(216, 53%, 9%);
    --testimonials-bg: hsl(219, 30%, 18%);
    --cyan: hsl(176, 68%, 64%);
    --blue: hsl(198, 60%, 64%);
    --light-red: hsl(0, 100%, 63%);
  }

body {
    background-color: var(--main-bg);
    color: white;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

header {
    background-color: var(--intro-email-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4.65rem 5rem;
}

.header-logo {
    max-width: 180px;
}

nav a {
    text-decoration: none;
    color: white;
    padding-inline: 1.5rem;
    font-size: 1rem;
}

nav a:hover {
    font-weight: 700;
    text-decoration: underline;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.intro {
    width: 100%;
    background: var(--intro-email-bg) url("images/bg-curvy-desktop.svg") bottom no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.intro img {
    max-width: 710px;
}

h1, h2, h3, h4, nav a {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 2.5rem;
    max-width: 700px;
    line-height: 3.5rem;
    padding: 1.5rem 0 2rem 0;
}

.intro p {
    font-size: 1.3rem;
    max-width: 620px;
    padding-bottom: 1.5rem;
}

.cta {
    background: linear-gradient(to right, var(--cyan), var(--blue));
    color: white;
    border-radius: 50px;
    border-color: transparent;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1rem;
}

.cta:hover {
    cursor: pointer;
    background: rgb(130, 212, 233);
}

.cta-intro {
    height: 50px;
    width: 250px;
    margin-bottom: 13.8rem;
}

.features {
    display: grid;
    grid-template-columns: repeat(2, 380px);
    gap: 80px 150px;
}

.feature {
    text-align: center;
}

h3 {
    padding: 1rem 0 0.5rem 0;
}

.security {
    margin-top: -0.5rem;
}

.extra-description {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10rem 6.1rem;
}

.description-text {
    padding-left: 50px;
    padding-right: 6rem;
}

.description-text h2 {
    font-size: 2.5rem;
    line-height: 3.3rem;
    padding-bottom: 1rem;
}

.description-text a {
    text-decoration: none;
    border-bottom: 1px solid var(--cyan);
    max-width: max-content;
}

.fylo-link {
    color: var(--cyan);
    padding: 1.2rem 0 0.2rem 0;
    display: flex;
    align-items: center;
}

.fylo-link img {
    padding-left: 0.3rem;
}

.testimonials {
    display: flex;
    justify-content: space-between;
    margin-bottom: 21rem;
}

.testimonial {
    background-color: var(--testimonials-bg);
    max-width: 350px;
    margin-inline: 1.2rem;
    padding: 2.5rem 2rem 1.5rem 2rem;
    border-radius: 5px;
    position: relative;
}

.testimonial:first-child::before {
  content: url("images/bg-quotes.png");
  position: absolute;
  top: -40px;
  left: -15px;
  z-index: -1;
}

.profile {
    display: flex;
    align-items: center;
    padding-top: 1.5rem;
}

.profile-image {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin-right: 0.5rem;
}

h4 {
    font-size: 0.6rem;
}

.profile-description p {
    font-size: 0.5rem;
}

.email-sign-up {
    background-color: var(--intro-email-bg);
    width: 800px;
    text-align: center;
    padding: 2.5rem 0;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -110px;
}

.email-sign-up h2 {
    font-size: 1.8rem;
    padding: 0.5rem 0 1.2rem 0;
}

.sign-up-form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2.5rem;
}

.sign-up-form input {
    height: 45px;
    width: 440px;
    border-radius: 50px;
    border-color: transparent;
    padding-left: 1.5rem;
    margin-right: 2rem;
}

.cta-email {
    height: 45px;
    width: 200px;
    font-size: 0.8rem;
}

footer {
    background-color: var(--footer-bg);
    padding: 12rem 5rem 2rem 8rem;
    display: flex;
    flex-direction: column;
}

.footer-logo {
    padding-bottom: 2rem;
}

.footer-items {
    display: flex;
    justify-content: space-between;
}

.footer-location {
    display: grid;
    grid-template-columns: 5% 90%;
    column-gap: 1rem;
    max-width: 320px;
}

.footer-location img {
    margin-top: 0.3rem;
}

.footer-phone, .footer-email {
    display: flex;
    align-items: center;
}

.footer-contact img {
    padding-right: 1.5rem;
}

.footer-phone {
    padding-bottom: 1rem;
}

.footer-links {
    display: flex;
    justify-content: center;
}

.footer-links-column {
    display: flex;
    flex-direction: column;
    padding-inline: 2rem;
}

.footer-links-column a {
    text-decoration: none;
    color: white;
    padding-bottom: 1rem;
}

.footer-links-column a:hover {
    font-weight: 700;
}

.social-media-icon {
    height: 30px;
    width: 30px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid white;
    margin-inline: 0.5rem;
}

.fab {
    color: white;
}

.social-media-icon:hover {
    cursor: pointer;
    border-color: var(--cyan);
}

.social-media-icon:hover .fab {
    color: var(--cyan);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    padding-top: 3rem;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}